* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
/* ----header start-------- */
/* nav start */
header {
  height: 1322px;
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 1390px;
  margin: auto;
  padding: 48px 0;
  align-items: center;
  margin-bottom: 116px;
}
.nav-logo {
  width: 302px;
  /* height: 53px; */
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
}
.nav-links a {
  font-weight: 500;
  font-size: 18px;
  color: #424242;
  text-decoration: none;
}
/* nav end */
/* banner start */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}
.banner-content {
  text-align: center;
  width: 862px;
}
.banner-title {
  font-weight: 700px;
  font-size: 64px;
  margin-bottom: 24px;
}
.banner-desc {
  margin-bottom: 46px;
  width: 868px;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.banner-content a {
  width: 180px;
  background: #ff900e;
  border-radius: 8px;
  padding: 22px;
  text-decoration: none;
  color: azure;
  font-weight: 600;
  font-size: 20px;
}
/* ----banner end ------ */
/* ------header end ------- */
/* -------features start----- */
.features {
  width: 1340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 73px;
  margin: 73px auto 130px;
}
.features-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.features-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.features-title {
  width: 468px;
  font-weight: 500;
  font-size: 45px;
  color: black;
}
.features-desc {
  width: 537px;
  font-size: 16px;
  color: #727272;
}
.features-content a {
  width: 150px;
  padding: 20px;
  background-color: #ff900e;
  color: azure;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}
.highlight-one {
  color: #727272;
}
.highlight-two {
  color: #ff900e;
}
/* ----features end------- */
/* --------exp section start---------- */
.experience {
  width: 1440px;
  margin: auto;
  display: flex;
  gap: 54px;
  margin-bottom: 130px;
}
.exp-side {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 600px;
  justify-content: space-around;
}
.exp-title {
  margin-bottom: 20px;
  width: 468px;
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.exp-desc {
  width: 586px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
.exp-cetagory {
  padding: 16px 8px;
  border-radius: 8px;
  width: 586px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.exp-img {
  position: relative;
}
.exp-years {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -48px;
  bottom: -48px;
  width: 300px;
  height: 200px;
  background: #ff900e;
  border-radius: 8px;
}
.exp-years h3 {
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 8px;
}
.exp-years p {
  font-weight: 500;
  font-size: 25px;
  color: #ffffff;
}
.exp-item {
  margin-bottom: 10px;
  width: 252px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #131313;
}
.exp-details {
  width: 514px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
/* -------exp section end------ */
/* -------fact start--------- */
.facts {
  width: 1440px;
  margin: auto;
  margin-bottom: 180px;
}
.fact-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.fact-desc {
  margin: 24px 0 100px;
  width: 542px;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.fact-worked {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 240px;
  height: 240px;
  border: 2px solid #ff900e;
}
.work:hover {
  background-color: #ff900e;
  color: #fff;
}
.work h3:hover,
.work p:hover {
  color: #fff;
}
.work p {
  font-weight: 600;
  font-size: 20px;
  color: #727272;
}
.work h3 {
  font-weight: 600;
  font-size: 45px;
  color: #424242;
}
/* --------work section end-------- */
/* ------sponsor section start--------- */
.sponsors {
  width: 1440px;
  margin: auto;
  margin-bottom: 180px;
}
.sponsor-content {
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sponsor-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.sponsor-desc {
  text-align: center;
  width: 542px;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.sponsor-company {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
/* sponsorship end */
